<section class="pt-8">

    <div class="container">
        <div class=" flex-center mb-5">
            <div class="col-lg text-center">
                <h1 class="fw-bold fs-md-3 fs-lg-4 fs-xl-5">Feedback</h1>
                <hr class="mx-auto text-primary my-4" style="height:3px; width:70px;" />
            </div>
            <div class="container pt-3 "style=" border: 2px solid #3984F3 ; border-radius: 25px; width:500px;">
                <div class="row">
                    <!-- <center> -->

                        <h3 ></h3>
                    <!-- </center> -->
                    <div class="col-lg-4 ">
                        <form class="">
                            <img id="image" src="http://via.placeholder.com/150x150" style="border-radius:50%"/>
                            <input type="file" id="myfile" style="display: none;"/>
                         </form>
                    </div>
                    <div class="col-lg-8 col-12">
                        <div class=" col-lg card-body d-flex flex-center flex-column">
                            <input type="text" name="text" class="input" placeholder="Your Name..."><br>
                            <textarea type="textarea" name="text" class="input1" placeholder="Review..."></textarea>
                            <button class="btn mt-4 me-8">Submit</button>
                        </div>

                    </div>
                </div>
            </div>