


<nav>
	<input id="nav-toggle" type="checkbox">
	<div class="logo text-primary"><a class="navbar-brand d-flex align-items-center fw-bold fs-2" routerLink="">
    <img routerLink="home" class="d-inline-block align-top img-fluid" src="/assets/img/gallery/logi-icon-test.png" alt="" width="100" />
  </a><strong ><span class="text fs-4 ps-2">Tripista</span></strong></div>
	<ul class="links">
		<li><a routerLink="">Home</a></li>
		<li><a routerLink="districts">Districts</a></li>
    <li><a routerLink="hotels">Hotels</a></li>
    <li><a routerLink="guide">Guide</a></li>
    <!-- <li><a routerLink="feedback">Feedback</a></li> -->
    <li><a routerLink="help">Help</a></li>
    <li><a routerLink="addhotel" *ngIf="_auth.adminloggedIn()" (click)="loggedAdmin()">Add Hotel</a></li>

    <ul class="links" *ngIf="isLoggedIn">
      <li>
        <a href="/feedback" routerLink="feedback">Feedback</a>
      </li>
      <li>
        <a href="/profile" routerLink="profile"><img src="/assets/img/icons/profile.png" style="height: 25px;"></a>
      </li>
      <li>
        <a href class="btn btn-lg btn-primary hover-top" (click)="logout()" style="background-color: rgba(255, 30, 0, 0.793); width: 100px">Log Out</a>
      </li>
    </ul>
   <form class="ps-lg-5" *ngIf="!isLoggedIn">
     <a class="btn btn-lg btn-primary hover-top" routerLink="login" role="button">Log In</a>
   </form>

    

      <ul>
        <form class="links22">
          <a class="btn btn-lg btn-danger hover-top" *ngIf="_auth.adminloggedIn()" (click)="logoutUser()"  role="button">Admin Log Out</a>
        </form>
      </ul>


  </ul>




	<label for="nav-toggle" class="icon-burger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</label>
</nav>



