<br><br><br>
<!-- <section class="py-0"> -->
    <!-- <div class="bg-holder d-none d-md-block" style="background-image:url(/public/img/gallery/wetfu.jpg);background-position:right bottom;background-size:contain;">
    </div> -->
    
    <!--/.bg-holder-->

    <!-- <div class="top-left">
    <h1 class="disthead1">Idukki</h1>

    </div>
    <img src="/assets/img/gallery/idukki123.jpg" alt=""> -->




    <section class="vh-100" style="background-color: rgb(255, 255, 255);">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-14 col-xl-13">
    
    
                <!-- landing page -->
                <section class="pt-2">
                    <div class="hero-image" style="background-image: url('/assets/img/gallery/back1.jpg')">;
                        <div class="hero-text image-txt">
                            <h3>Explore</h3>
                            <h1 class="underline-red">Idukki</h1>
                        </div>
                    </div>
            
            
                </section>
                </div>
                </div>
                </div>
              </section>
    
                <!-- about US  -->
            
                <section class="container pt-2 col-md-8">
            
            
                    <section class="pt-1  about-us  row">
                        <div class="col col-12 col-lg-6 gallery">
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                                <div ngxSlickItem *ngFor="let image of images" class="slide">
                                    <img [src]='image' />
                                </div>
                            </ngx-slick-carousel> <!-- competitions-carousel : ends -->
                        </div>
                        <div class=" details  p-4   col-12 col-lg-6 ">
                            <h2>About Idukki</h2>
                            <p>Idukki, a landlocked district of Kerala, is one of the most nature-rich areas in Kerala with more than half of the area covered with forest. 
                                This rugged hill resort is known for its wildlife sanctuaries, beautiful bungalows, tea factories, rubber plantations and forests.
                                Idukki's speciality lies in 650 feet long and 550 feet high arch dam across the Kuravan Kurathi mountain, which is the largest in the country.</p>
                        </div>
            
            
                    </section>
                    <!-- about us ends -->
    
    
    <div class="wrapper-grey padded">
      <div class="container row">
    
    <!-- hovering cards starts-->
    <div class="cardsp">
      <h2 class="hdtxt text-center" >Top Destinations</h2>
      <hr style="color: grey;">
      <br><br><br><br>
      <div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">
        <div class="card d-flex position-relative flex-column">
            <div class='cardspimg imgContainer'>
                <img src='/assets/img/gallery/hlvwid12.jpg'>
                <h2>Hill View Park</h2>
            </div>
            <div class="content">
                <h2></h2>
                <p>Located just about a kilometre from the Idukki city centre, the Hill View Park is set up approximately 350 feet from the Idukki dam. As the name suggests, 
                    Hill View Park is one such places in Idukki that offers spectacular views of the Cheruthoni and Idukki Dams.</p>
            </div>
        </div>
        <div class="card d-flex position-relative flex-column">
            <div class='cardsp imgContainer'>
                <img src='/assets/img/gallery/archdm12.jpg'>
                <h2>Idukki Arch Dam</h2>
              </div>
            <div class="content">
                <h2></h2>
                <p>Idukki Arch Dam, an engineering marvel, is located in the South-Indian state of Kerala. It is an arch dam with a double curvature and is built on River Periyar. 
                    Precisely, the dam is constructed in a gorge between two hills, Kuravathi and Kuravan.
                     It is at the height of about 550 feet and is a breathtaking sight in the otherwise rugged terrain along which has been built.  </p>
              </div>
        </div>
        <div class="card d-flex position-relative flex-column">
            <div class='cardsp imgContainer'>
                <img src='/assets/img/gallery/aypnid12.jpg'>
                <h2>Ayyapancoil Hanging Bridge</h2>
              </div>
            <div class="content">
                <h2></h2>
                <p>A bridge that is one of a kind and attracts numerous tourists on a daily basis, the Ayyapancoil Hanging Bridge is one of the longest hanging bridges in Kerala.
                     The region surrounding the bridge is so captivating and pleasant that it makes this place a perfect getaway spot for a weekend or an unplanned holiday.</p>
              </div>
        </div>
        <div class="card d-flex position-relative flex-column">
            <div class='cardsp imgContainer'>
                <img src='/assets/img/gallery/fort123.jpg'>
                <h2>Fort Kochi Beach</h2>
              </div>
            <div class="content">
                <h2></h2>
                <p>There are some places that do not lose their charm even when they are bustling with tourists. Fort Kochi Beach is one of the best places to visit in Fort Kochi.</p>
              </div>
        </div>
    </div>
    </div>
    <hr style="color: grey;">
    <!-- hovering cards ends -->
    
    
    
    
    <!-- hotels starts -->
            
    <div class="pt-2">
      <div class="container row ">
          <h2 class="d-flex justify-content-center">
              <div class="underline--blue">Hotels</div>
          </h2>
          <div class="col-sm-6 col-lg-4 pt-4">
              <div class="card"
                  style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://31.media.tumblr.com/9e9ba532a3174811c79e07bc4a61ebdc/tumblr_n92w6iRSjY1r5gmiko1_500.jpg); width:100% ; height:40vh ;">
                  <div class="card-category">Nirmalyam</div>
                  <div class="card-description">
                      <h2>Ernakulam</h2>
                      <p style="color: rgb(236, 215, 215);">7894561237, <a>www.nirmalyam.com</a></p>
                  </div>
                  <!-- <img class="card-user avatar avatar-large" width="10vh" height="100vh" src=""> -->
                  <a class="card-link"></a>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 pt-4">
              <div class="card"
                  style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://www.berjayahotel.com/sites/default/files/styles/gallery_slide/public/colombo_1-1.jpg); width:100% ; height:40vh ;">
                  <div class="card-category">City</div>
                  <div class="card-description">
                      <h2>home</h2>
                      <p>Lorem</p>
                  </div>
                  <!-- <img class="card-user avatar avatar-large" width="10vh" height="100vh" src=""> -->
                  <!-- <a class="card-link" href=""></a> -->
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 pt-4">
              <div class="card"
                  style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://media-cdn.tripadvisor.com/media/photo-s/06/c7/ba/92/salah-satu-bangunan-di.jpg); width:100% ; height:40vh ;">
                  <div class="card-category">City</div>
                  <div class="card-description">
                      <h2>home</h2>
                      <p>Lorem</p>
                  </div>
                  <!-- <img class="card-user avatar avatar-large" width="10vh" height="100vh" src=""> -->
                  <!-- <a class="card-link"></a> -->
              </div>
          </div>
    
      </div>
    </div>
    

<!-- guides of alappuzha -->
<br><br><br><br><br>
<!-- guides of alappuzha end-->




    </div>
    </div>

<!-- ---------------------- -->
<!-- guides list -->
      <!-- <div class="row">
        <div *ngFor="let guide of guides">
          <div>
            <div class="col-sm-2" *ngIf="guide.district == 'Alappuzha'">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">
                    {{guide.first_name}}
                    {{guide.last_name}}
                  </h5>
                  <p class="card-text">
                    {{guide.email}} <br>
                    {{guide.phone}} <br>
                    {{guide.district}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div> -->
<!-- guides list ends-->
